[buildout]
develop = .
parts = tests sphinxbuilder
versions = versions

[versions]

[doc]
recipe = collective.recipe.sphinxbuilder
eggs = pail
source = ${buildout:directory}/docs/source
build = ${buildout:directory}/docs/build

[tests]
recipe = zc.recipe.egg:scripts
eggs = pail [tests]
       Pillow
       pytest
       pytest-xdist
       pytest-cov
       webob
scripts = py.test

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs
build = ${buildout:directory}/docs/_build
# interpreter = ${buildout:directory}/bin/sphinxpython

[sphinxpython]
recipe = z3c.recipe.scripts:interpreter
eggs = pail
       sphinxcontrib_cheeseshop
