include LICENSE.txt
include README.rst
include CHANGES.txt
include COPYRIGHT.txt
include bootstrap.py
include buildout.cfg
include setup.cfg
include setup.py
include tox.ini
include pytest.ini

recursive-include docs *
prune docs/_build

prune *.pyc
prune *.pyo
